body {
    background-color: #181818;
    color: white;
}
h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Red Hat Display', sans-serif;
}
p {
    font-family: 'Red Hat Display', sans-serif;
}
div {
    font-family: 'Red Hat Display', sans-serif;
}
button {
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
    padding: 5px;
    font-family: 'Red Hat Display';
    transition-duration: 0.4s;
}
button:hover {
    background-color: #1c2425;
}
.flexrow {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    flex: 100%;
    width: fit-content;
  }